include helpers/variables
include helpers/mixins
doctype
html(lang="en",data-ng-app='app')
  head
    include partials/header-title
    include partials/header-meta
    include partials/header-stylesheets
    include partials/header-scripts
  body(data-ng-controller='Master_Controller as master')
    .container-fluid
      .row
        .col-md-12
          include partials/body-header
          include partials/body-title
          include partials/body-content
          include partials/body-footer
    include partials/body-scripts