include helpers/variables
include helpers/mixins
doctype
html(lang="en",data-ng-app='app',data-ng-strict-di)
  head
    include partials/header-title
    include partials/header-meta
    include partials/header-stylesheets
    include partials/header-scripts
  body(data-ng-controller='Master_Controller as mc')
    .container-fluid
      .row
        include partials/body-ng-controller
        .col-md-12(data-ng-controller='#{controller_name ? controller_name + " as bc" : ""}')
          include partials/body-header
          include partials/body-title
          include partials/body-content
          include partials/body-footer
    include partials/body-scripts