block body-scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', data-id='js-jquery')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js', data-id='js-angular')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-resource.min.js', data-id='js-angular-resource')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js', data-id='js-angular-route')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js', data-id='js-bootstrap')
  script(src='./js/script.min.js?noc=#{cacheKey}')
  script(src='./js/ng/ng.min.js?noc=#{cacheKey}')