extends ../_layouts/master

append header-meta
  base(href='/')

append body-scripts
  script(src='#{locals.baseUrl?baseUrl:""}/js/ng/home/config.min.js?noc=#{cacheKey}')
  script(src='#{locals.baseUrl?baseUrl:""}/js/ng/home/controllers.min.js?noc=#{cacheKey}')

append body-title
  +body-title('Page title', 'Lorem ipsum yatta')
append body-controller
  - controller_name = 'Body_Controller';
append body-content
  .row
    .col-md-12
      .btn-group
        a(href='/a', active-link, active-link-alt-paths='/').text-uppercase.btn.btn-default a
        a(href='/b', active-link).text-uppercase.btn.btn-default b
        a(href='/c', active-link).text-uppercase.btn.btn-default c
      hr
      .div(data-ng-view)