polymer-element(name='proto-element')
  template
    span
      | I'm a&nbsp;
      b proto-element
      | . Check out my prototype.
  script.
    Polymer({
      ready: function ready(){
        //...
      }
    });
    