extends ../_layouts/master

append header-title
append header-meta
append header-stylesheets
append header-scripts
append body-header
append body-title
append body-content
  .row(data-ng-controller='Child_Controller as cc')
    .col-md-12
      pre {{ { 'cc.isLoading': cc.isLoading } | json }}
append body-footer
append body-scripts