extends ../_layouts/master

append header-title
append header-meta
append header-stylesheets
append header-scripts
append body-header
append body-title
append body-content
append body-footer
append body-scripts