mixin body-title(_title, _desc)
  if block
    block
  else
    h1 #{_title}
    if (_desc)
      +body-description(_desc)
mixin body-description(_desc)
  hr
  if block
    block
  else
    p #{_desc}
mixin body-controller(_cname)
  if (_cname)
    - controller_name = _cname;
mixin body-ng-controller
  if (controller_name)
    .col-md-12(data-ng-controller='#{controller_name} as bc')
      block
  else
    .col-md-12
      block